name: Deploy MVC App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore CarRentalPlatform/CarRentalPlatform.csproj

      - name: Publish
        run: dotnet publish CarRentalPlatform/CarRentalPlatform.csproj -c Release -o publish

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_782C1E6DB58E44DB9BEF053E51EE42E3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A2539CA01FCD417680DF241B4EA9378D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5D78B28618264FDEBC6D97F63DEB9E49 }}

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: carrental-mvc-jpatel0459
          package: publish
